.hospital-unit {
    display: inline-block;
    height: 152px;
    margin-top: 5px;
    margin-right: 5px;
    min-width: 300px;
    position:relative;
    transform-style: preserve-3d;
    transition: transform 1s ease;
    vertical-align: top;

    .capacity-percentage,
    .status-info {
        text-align: center;
    }

    .capacity-percentage {
        font-size: 2em;
        margin-bottom: 10px;
    }

    .status-info {
        font-size: 1.2em;
    }

    &.flip {
        transform: rotateY(180deg);
    }

    div:after {
        content: attr(data-transitions);
        display: block;
        position: relative;
        top: 70px;
        text-align: center;
    }

    .frontface,
    .backface {
        backface-visibility: hidden;
        height: 100%;
        position: absolute;
        min-width: 100%;
        margin-top: 0 !important;
        top: 0;
        left: 0;

        .panel-heading {
            text-align: center;
        }

        .info-button {
            bottom: 2px;
            position: absolute;
            right: 2px;
        }

        &.panel-danger {
            animation-name: danger;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            color: #a94442;
        }

        &.panel-info {
            animation-name: info;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            color: #31708f;
        }
    }

    .frontface {
        z-index: 2;
    }

    .backface {
        transform: rotateY(180deg);
    }

    @media(min-width: 1200px) {
        min-width: 270px;
    }

    @media(max-width: 991px) {
        min-width: 350px;
    }

    @media(max-width: 768px) {
        width: 100%;
    }
}

@keyframes danger {
    from {
        background-color: #ff7575;
    }

    to {
        background-color: #f2dede;
    }
}

@keyframes info {
    from {
        background-color: #82d5ff;
    }

    to {
        background-color: #d9edf7;
    }
}
